---
- name: Delete zabbix agent 1
  apt:
    name: zabbix-agent
    state: absent
  become: true

- name: Add key to repo
  ansible.builtin.apt_key:
    url: "https://repo.zabbix.com/zabbix-official-repo.key"
    state: present
  become: true

- name: Add zabbix repo
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://repo.zabbix.com/zabbix/{{ zabbix_agent_version }}/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release | lower }} main"
    state: present
  become: true

# - name: Update apt cache
#   ansible.builtin.apt:
#     update_cache: yes
#   when: zabbix_deb.changed

- name: Install Zabbix Agent2
  apt:
    name: "{{ zabbix_packages }}"
    state: present
    update_cache: yes
    install_recommends: false
  become: true
