---
- name: Install agent on Debian/Ubuntu
  import_tasks: install_agent3.yml

- name: Generate and deploy PSK
  import_tasks: psk.yml
  when: zabbix_agent_tls_psk_enable | bool

- name: Configure Zabbix Agent 2
  import_tasks: configure_agent2.yml

- name: Ensure Zabbix Agent 2 is running and enabled
  become: true
  ansible.builtin.systemd:
    name: zabbix-agent2
    state: restarted
    enabled: true
    daemon_reload: true
