---
- name: Remove Zabbix agent 1
  ansible.builtin.apt:
    name: zabbix-agent
    state: absent

- name: Download Zabbix release package
  ansible.builtin.apt:
    deb: "https://repo.zabbix.com/zabbix/7.0/{{ ansible_distribution | lower }}/pool/main/z/zabbix-release/zabbix-release_7.0-2+{{ ansible_distribution | lower }}{{ ansible_distribution_major_version if ansible_distribution == 'Debian' else ansible_distribution_version }}_all.deb"
  register: zabbix_deb

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: zabbix_deb.changed

- name: Install Zabbix Agent 2
  ansible.builtin.apt:
    name: "{{ zabbix_packages }}"
    state: present
    install_recommends: false

- name: Ensure Zabbix Agent is enabled and started
  ansible.builtin.service:
    name: zabbix-agent2
    enabled: yes
    state: started

- name: Create directory for custom scripts
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agent2.d/customscripts.d
    state: directory
    owner: root
    group: root
    mode: '0755'
