zabbix_version: "7.0"
zabbix_repo_key_url: "https://repo.zabbix.com/zabbix-official-repo.key"
zabbix_proxy_package: "zabbix-proxy-sqlite3"
zabbix_proxy_server: "172.30.2.15"
zabbix_proxy_hostname: "{{ inventory_hostname }}"
zabbix_proxy_log_file: "/var/log/zabbix/zabbix_proxy.log"
zabbix_proxy_log_file_size: 0
zabbix_proxy_pid_file: "/run/zabbix/zabbix_proxy.pid"
zabbix_proxy_socket_dir: "/run/zabbix"
zabbix_proxy_dbname: "/var/lib/zabbix/zabbix_proxy.db"
zabbix_proxy_proxy_buffer_mode: "hybrid"
zabbix_proxy_proxy_memory_buffer_size: "16M"
zabbix_proxy_snmptrapperfile: "/var/log/snmptrap/snmptrap.log"
zabbix_proxy_cache_size: "1G"
zabbix_proxy_timeout: 4
zabbix_proxy_fping_location: "/usr/bin/fping"
zabbix_proxy_fping6_location: "/usr/bin/fping6"
zabbix_proxy_log_slow_queries: 3000
zabbix_proxy_stats_allowed_ip: "127.0.0.1"
zabbix_proxy_tls_connect: "psk"
zabbix_proxy_tls_accept: "psk"
zabbix_proxy_tls_psk_identity: "{{ inventory_hostname }}"
zabbix_proxy_tls_psk_file: "/etc/zabbix/zabbix-proxy.key"
zabbix_proxy_tls_psk_value: "6082e8981b52b4a4bc1a78aaadf5a4094f68b8d00f126b13203d5b26a0f46fd1"
