- name: Check if PSK file exists
  stat:
    path: "{{ zabbix_proxy_tls_psk_file }}"
  register: psk_file

- name: Generate PSK key (if missing)
  command: "openssl rand -hex 64"
  register: psk_value
  no_log: true
  when: not psk_file.stat.exists

- name: Save PSK to file
  copy:
    dest: "{{ zabbix_proxy_tls_psk_file }}"
    content: "{{ psk_value.stdout }}"
    owner: zabbix
    group: zabbix
    mode: '0400'
  when: not psk_file.stat.exists
  no_log: true
