---
- name: Detect Ubuntu version
  ansible.builtin.command: lsb_release -sr
  register: ubuntu_version
  changed_when: False

- name: Download Zabbix release package
  ansible.builtin.command: >
    wget https://repo.zabbix.com/zabbix/7.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_7.0-2+ubuntu{{ ubuntu_version.stdout }}_all.deb -O /tmp/zabbix-release.deb
  become: yes

- name: Install Zabbix release package
  ansible.builtin.command: dpkg -i /tmp/zabbix-release.deb
  become: yes

- name: Install Zabbix packages
  ansible.builtin.apt:
    name: "{{ zabbix_packages }}"
    state: present
  become: yes
