PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0

Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_active_server }}
Hostname={{ zabbix_agent_hostname | default(ansible_hostname) }}
HostMetadata={{ zabbix_agent_host_metadata | regex_replace('^"|"$', '') }}
{% if host_metadata_item is defined %}
HostMetadataItem={{ host_metadata_item | regex_replace('^"|"$', '') }}
{% endif %}

Include=/etc/zabbix/zabbix_agent2.d/*.conf
Include=/etc/zabbix/zabbix_agent2.d/plugins.d/*.conf
Include=/etc/zabbix/zabbix_agent2.d/customscripts.d/*.conf

PluginSocket=/run/zabbix/agent.plugin.sock
ControlSocket=/run/zabbix/agent.sock

TLSConnect={{ tLSConnect }}
TLSAccept={{ tLSAccept }}
TLSPSKIdentity={{ tLSPSKIdentity }}
TLSPSKFile={{ tLSPSKFile }}
